body {
  background-color: #232323;
  font-family: 'Red Hat Display', sans-serif;
}
.LeftMenu{
  background-color: #434343;
  position: fixed;
  width: 16vw;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.topLogo{
  justify-content: center;
  display: flex;
}
.topLogo h3{
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 2.5vw;
  font-size: 1vw;
}
.topLogo img{
  margin-top: 1.65vw;
  padding-right: 5px;
  width: 3vw;
  height: 3vw;
}
.LeftPages{
  text-align:left;
  display: grid;
  margin-left: 4.8vw;
  margin-top: 8vw;
}
.LeftPages a{
  font-family: 'Red Hat Display', sans-serif;
  padding-bottom: 1vw;
  font-size: 1.1vw;
  color: white;
}
/*--------------------------------------------------------*/
.Main{
  margin-left: 22vw;
}
.headPart{
  display: flex;
  justify-content: space-between;
}
.helloPart{
  padding-top: 3vw;
  display: flex;
}
.helloPart img{
  height: 5vw;
}
.helloPart h4{
  font-family: 'Red Hat Display', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  margin-left: 1vw;
}
.headText{
  color: white;
  font-size: 1.2vw;
  padding-top: 1.5vw;
}
.searchBar{
  display: flex;
  margin-top: 5vw;
  margin-right: 5vw;
  height: 2vw;
  background-color: white;
}
.searchBar input{
  border-color: #23232300;
  height: 1.5vw;
  width: 9vw;
}
.GridBox{
  display: flex;
}
.miniBox{
  margin-right: 2vw;
  border-radius: 10%;
  background-color: #434343;
  width: 15vw;
  height: 11vw;
}
.miniBox h3{
  color: #8B8B8B;
  font-weight: 1000;
  font-size: 1.2vw;
  margin-left: 1.5vw;
}
.miniBox h6{
  color: #ffffff;
  font-weight: 1000;
  font-size: 1vw;
  margin-left: 4vw;
  margin-top: 1.5vw;
}
.solPart{
  display: flex;
  margin-left: 1.5vw;
  margin-top: -.2vw;
}
.solPart img{
  height: 100%;
}
.solPart p{
  color: white;
  font-size: 1vw;
  margin-top: .2vw;
  margin-left: 1vw;
}
.verticalPieBox{
  margin-right: 2vw;
  border-radius: 8%/5%;
  background-color: #434343;
  width: 22vw;
  height: 32vw;
  text-align: center;
}
.verticalPieBox h3{
  color: #8B8B8B;
  font-weight: 1000;
  font-size: 1.2vw;
  margin-left: -.5vw;
}
.verticalPieBox img{
width: 15vw;
margin-left: -.6vw;
}
.pieTextPart{
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: -2vw;
  margin-top: 1vw;
}
.pieTextPartGrid{
  display: grid;
  margin-top: -1.5vw;

}
.pieTextPartGrid h1{
  margin-left: 1vw;
  color: #8B8B8B;
  font-size: 0.8vw;
} 
.pieTextPartGrid h2{
  color: #ffffff;
  margin-left: 2vw;
  font-size: 0.8vw;
} 
.pieTextPartGrid h3{
  color: #d1d1d1;
  font-size: 0.8vw;
  margin-right: 1vw;
} 


.bottomBox{
  margin-top: -19vw;
  margin-right: 2vw;
  border-radius: 4%/8%;
  background-color: #434343;
  width: 49vw;
  height: 19vw;
  text-align: center;
}
.bottomBox img{
  margin-top: 2vw;
  margin-left: -1.5vw;
  height: auto;
  width: 40vw;
}